	<script src="{MODULE_URL}/static/js/jquery/jquery-2.1.3.min.js"></script>
	<!--<script src="{MODULE_URL}/static/mobile/libs/jquery-weui/jquery-weui.min.js"></script>-->
	<script src="{MODULE_URL}/static/js/fastclick.js"></script>
	<script src="{MODULE_URL}/static/js/weui.min.js"></script>
	<script src="{MODULE_URL}/static/js/template/baiduTemplate.js"></script>
	<script src="{MODULE_URL}/static/js/swiper/swiper.jquery.min.js"></script>
	<script src="{MODULE_URL}/static/js/clipboard.min.js"></script>
	<script src="{MODULE_URL}/static/mobile/libs/html2canvas/1.0.0/html2canvas.min.js"></script>
	<script src="{MODULE_URL}/static/mobile/js/common.js"></script>