<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{php if(isset($title)) $_W['page']['title'] = $title}{if !empty($_W['page']['title'])}{$_W['page']['title']}{/if}{if empty($_W['page']['copyright']['sitename'])}{if IMS_FAMILY != 'x'}{if !empty($_W['page']['title'])} - {/if}微信魔方 - 公众平台自助引擎 -  Powered by WE7.CC{/if}{else}{if !empty($_W['page']['title'])} - {/if}{$_W['page']['copyright']['sitename']}{/if}</title>
	<meta name="keywords" content="{if empty($_W['page']['copyright']['keywords'])}{if IMS_FAMILY != 'x'}微信魔方,微信,微信公众平台,we7.cc{/if}{else}{$_W['page']['copyright']['keywords']}{/if}" />
	<meta name="description" content="{if empty($_W['page']['copyright']['description'])}{if IMS_FAMILY != 'x'}公众平台自助引擎（www.we7.cc），简称微信魔方，微信魔方是一款免费开源的微信公众平台管理系统，是国内最完善移动网站及移动互联网技术解决方案。{/if}{else}{$_W['page']['copyright']['description']}{/if}" /><meta name="author" content="" />
	<link rel="shortcut icon" href="{if !empty($_W['setting']['copyright']['icon'])}{$_W['attachurl']}{$_W['setting']['copyright']['icon']}{else}./resource/images/favicon.ico{/if}" />
	<link href="./resource/css/bootstrap.min.css?v=20180203" rel="stylesheet">
	<link href="./resource/css/commonmod.css?v=20180203" rel="stylesheet">
	<script type="text/javascript">
	if(navigator.appName == 'Microsoft Internet Explorer'){
		if(navigator.userAgent.indexOf("MSIE 5.0")>0 || navigator.userAgent.indexOf("MSIE 6.0")>0 || navigator.userAgent.indexOf("MSIE 7.0")>0) {
			alert('您使用的 IE 浏览器版本过低, 推荐使用 Chrome 浏览器或 IE8 及以上版本浏览器.');
		}
	}
	window.sysinfo = {
		{if !empty($_W['uniacid'])}'uniacid': '{$_W['uniacid']}',{/if}
		{if !empty($_W['acid'])}'acid': '{$_W['acid']}',{/if}
		{if !empty($_W['openid'])}'openid': '{$_W['openid']}',{/if}
		{if !empty($_W['uid'])}'uid': '{$_W['uid']}',{/if}
		'isfounder': {if !empty($_W['isfounder'])}1{else}0{/if},
		'family': '{IMS_FAMILY}',
		'siteroot': '{$_W['siteroot']}',
		'siteurl': '{$_W['siteurl']}',
		'attachurl': '{$_W['attachurl']}',
		'attachurl_local': '{$_W['attachurl_local']}',
		'attachurl_remote': '{$_W['attachurl_remote']}',
		'module' : {'url' : '{if defined('MODULE_URL')}{MODULE_URL}{/if}', 'name' : '{if defined('IN_MODULE')}{IN_MODULE}{/if}'},
		'cookie' : {'pre': '{$_W['config']['cookie']['pre']}'},
		'account' : {php echo json_encode($_W['account'])},
		'server' : {'php' : '{php echo phpversion()}'},
	};
	</script>
	<script>var require = { urlArgs: 'v=20180203' };</script>
	<script type="text/javascript" src="./resource/js/lib/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="./resource/js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="./resource/js/app/util.js?v=20180203"></script>
	<script type="text/javascript" src="./resource/js/app/common.min.js?v=20180203"></script>
	<script type="text/javascript" src="./resource/js/require.js?v=20180203"></script>
</head>
<body >
	<div class="loader" style="display:none">
		<div class="la-ball-clip-rotate">
			<div></div>
		</div>
	</div>

<div class="container">
		<div class="right-content">
<script type="text/javascript">
<!--
	var packet = {php echo ($packet ? json_encode($packet) : 'null');};
	angular.module('cloudApp');
	angular.module('cloudApp')
	.controller('FileProcessorCtrl', function($scope, $http, config) {
		$scope.files = config.files;
		$scope.fails = [];

		var total = $scope.files.length;
		var i = 1;
		var errormsg = '';
		var tasknum = config.tasknum && config.type != '' ? config.tasknum : 1;
		if (tasknum > total) {
			tasknum = 1;
		}
		var proc = function() {
			var path = $scope.files.pop();
			if(!path && i >= total) {
				if ($scope.fails && $scope.fails.length > 0) {
					util.message('文件同步失败，可能是目录权限问题，请重试同步成功后继续。', './index.php?c=mod&a=mod_wmall&', 'info');
				} else {
					var targetUrl = '';
					if (config.type == 'theme') {
						targetUrl = './index.php?c=mod&a=process_wmall&step=schemas&t=' + config.appname + '&is_upgrade=' + config.is_upgrade;
					} else if (config.type == 'webtheme') {
						targetUrl = './index.php?c=mod&a=process_wmall&step=schemas&w=' + config.appname + '&is_upgrade=' + config.is_upgrade;
					} else {
						targetUrl = './index.php?c=mod&a=process_wmall&step=schemas&m=' + config.appname + '&is_upgrade=' + config.is_upgrade + '&batch=1&account_type=' + config.account_type;
					}
					util.message('文件同步完成，正在处理数据同步......', targetUrl, 'success');
				}
				return;
			}
			$scope.file = path;
			$scope.pragress = i + '/' + total;
			var params = {path: path, type : config.type};
			$http.post(location.href, params).success(function(dat){
				i++;
				if(dat != 'success') {
					$scope.fails.push('['+dat+'] ' + path);
					errormsg = dat;
				}
				proc();
			}).error(function(){
				i++;
				$scope.fails.push(path);
				proc();
			});
		}
		for (j = 0; j < tasknum; j++) {
			proc();
		}
	})
	.controller('SchemasProcessorCtrl', function($scope, $http, config){
		if (packet && (packet.files.length > 0)) {
			util.message('请先完成文件同步', './index.php?c=mod&a=mod_wmall');
			return false;
		}
		$scope.schemas = config.schemas;
		$scope.fails = [];
		var is_m_install = config.is_module_install;
		var total = $scope.schemas.length;
		var i = 1;
		var error = function() {
			util.message('未能成功执行处理数据库, 请联系开发商解决. ');
		}
		var proc = function() {
			var schema = $scope.schemas.pop();
			if(!schema) {
				if($scope.fails.length > 0) {
					error();
					return;
				} else {
					if(is_m_install == 1) {
						location.href = '';
					} else {
						location.href = '';
					}
					return;
				}
			}
			$scope.schema = schema;
			$scope.pragress = i + '/' + total;
			var params = {table: schema};
			$http.post(location.href, params).success(function(dat){
				i++;
				if(dat != 'success') {
					$scope.fails.push(schema)
				}
				if (dat['message']) {
					util.message(dat['message']);
					return;
				}
				proc();
			}).error(function(){
				i++;
				$scope.fails.push(schema);
				proc();
			});
		}
		proc();
	})
	.controller('processor', function($scope, $http){
		if (packet && (packet.files.length > 0 || packet.files.schemas > 0)) {
			util.message('请先完成文件或是数据库同步', './index.php?c=mod&a=mod_wmall');
			return false;
		}
		$scope.scripts = {php echo json_encode($scripts);};
		$scope.fails = [];
		
		var is_upgrade = "{php echo $is_upgrade}";
		var total = $scope.scripts.length;
		var i = 1;
		var error = function() {
			util.message('未能成功执行清理升级操作, 请联系开发者. ');
		}
		var proc = function() {
			var script = $scope.scripts.shift();
			if(!script) {
				if($scope.fails.length > 0) {
					error();
				} else {
					if(is_upgrade == 1) {
						{if $_GPC['batch']}
							location.href = '{url "system/module/mod_wmall" array("m" => $m, "flag" => 1, "batch_from_cloud" => 1)}';
						{else}
							location.href = '{url "system/module/mod_wmall" array("m" => $m, "flag" => 1)}';
						{/if}
						return;
					}
					
					var is_confirm = "{php echo $_GPC['is_confirm']}";
					if(is_confirm == 1) {
						if(confirm('已经成功执行升级操作! '+"\n"+' 由于数据库更新, 可能会产生多余的字段. 你可以按照需要删除')) {
							location.href = '{url "mod/mod_wmall"}';
						} else {
							location.href = '{url "mod/mod_wmall"}';
						}
					} else {
						util.message('已经成功执行升级操作! '+"\n"+' 由于数据库更新, 可能会产生多余的字段. 你可以按照需要删除.', '{url "mod/mod_wmall"}');
					}
					return;
				}
			}
			$scope.script = script.fname;
			$scope.message = script.message;
			$scope.pragress = i + '/' + total;
			var params = {fname: script.fname};
			$http.post(location.href, params).success(function(dat){
				i++;
				if(dat != 'success') {
					$scope.fails.push(script.fname)
					error();
					return;
				}
				proc();
			}).error(function(){
				i++;
				$scope.fails.push(script.fname);
				error();
			});
		}
		proc();
	});
//-->
</script>
<ol class="breadcrumb we7-breadcrumb">
	<a href="./index.php?c=platform&amp;a=reply&amp;m=keyword"><i class="fa fa-chevron-circle-left"></i> </a>
	<li>
		<a href="./index.php?c=platform&amp;a=reply&amp;m=keyword">系统更新</a>
	</li>
	<li>
		<a href="./index.php?c=platform&amp;a=reply&amp;do=post&amp;m=keyword">升级处理</a>
	</li>
</ol>
{if $step == 'files'}
<div class="clearfix js-processor">
	<div class="alert alert-warning">
		正在更新系统文件, 请不要关闭窗口.
	</div>
	<div class="alert alert-warning">
		如果下载文件失败，可能造成的原因：写入失败，请仔细检查写入权限是否正确。
	</div>
	<div class="alert alert-info form-horizontal ng-cloak" ng-controller="FileProcessorCtrl">
		<dl class="dl-horizontal">
			<dt>整体进度</dt>
			<dd>{{pragress}}</dd>
			<dt>正在下载文件</dt>
			<dd>{{file}}</dd>
		</dl>
		<dl class="dl-horizontal" ng-show="fails.length > 0">
			<dt>下载失败的文件</dt>
			<dd>
				<p class="text-danger" ng-repeat="file in fails" style="margin:0;">{{file}}</p>
			</dd>
		</dl>
	</div>
	<script type="text/javascript">
		angular.module('cloudApp').value('config', {
			files : {php echo ($packet['files'] ? json_encode($packet['files']) : '[]');},
			type : '{$type}',
			appname : '{$m}',
			is_upgrade : '{$is_upgrade}',
			account_type : "{$_GPC['account_type']}",
			tasknum : '{$packet['task']}',
		});
		angular.bootstrap($('.js-processor'), ['cloudApp']);
	</script>
</div>
{/if}
{if $step == 'schemas'}
<div class="clearfix js-processor">
	{if empty($packet['schemas'])}
		<!-- 如果是安装模块,数据库操作完成后,不处理script,直接跳转到system/module/install -->
		<!-- 安装 -->
		{if !empty($packet['install'])}
			{if $packet['type'] == 'theme'}
			<script>
				location.href = '{url "system/template/install" array("templateid" => $m, "flag" => 1)}';
			</script>
			{elseif $packet['type'] == 'webtheme'}
			<script>
				location.href = '{url "system/webtheme/install" array("webtheme" => $m, "flag" => 1)}';
			</script>
			{else}
			<script>
				location.href = '{url "module/manage-system/install" array("module_name" => $m, "flag" => 1, "account_type" => $_GPC["account_type"])}';
			</script>
			{/if}
		{/if}
		<!-- 升级 -->
		{if $packet['type'] == 'theme'}
		<script>
			location.href = '{url "mod/process_wmall" array("step" => "scripts", "t" => $m, "is_upgrade" => $is_upgrade)}';
		</script>
		{elseif $packet['type'] == 'webtheme'}
		<script>
			location.href = '{url "mod/process_wmall" array("step" => "scripts", "w" => $m, "is_upgrade" => $is_upgrade)}';
		</script>
		{else}
		<script>
			{if $_GPC['batch']}
				location.href = '{url "mod/process_wmall" array("step" => "scripts", "m" => $m, "is_upgrade" => $is_upgrade, "batch" => 1, "account_type" => $_GPC["account_type"])}';
			{else}
				location.href = '{url "mod/process_wmall" array("step" => "scripts", "m" => $m, "is_upgrade" => $is_upgrade, "account_type" => $_GPC["account_type"])}';
			{/if}
		</script>
		{/if}

	{/if}
	<div class="alert alert-warning">
		正在更新数据库, 请不要关闭窗口.
	</div>
	<div class="alert alert-info form-horizontal ng-cloak" ng-controller="SchemasProcessorCtrl">
		<dl class="dl-horizontal">
			<dt>整体进度</dt>
			<dd>{{pragress}}</dd>
			<dt>正在处理数据表</dt>
			<dd>{{schema}}</dd>
		</dl>
		<dl class="dl-horizontal" ng-show="fails.length > 0">
			<dt>处理失败的数据表</dt>
			<dd>
				<p class="text-danger" ng-repeat="schema in fails" style="margin:0;">{{schema}}</p>
			</dd>
		</dl>
	</div>
	<script type="text/javascript">
		angular.module('cloudApp').value('config', {
			schemas : {php echo ($schemas ? json_encode($schemas) : '[]');},
			is_module_install : {php echo (!empty($packet['install']) ? 'true' : 'false')},
		});
		angular.bootstrap($('.js-processor'), ['cloudApp']);
	</script>
</div>
{/if}
{if $step == 'scripts'}
<div class="clearfix js-processor">
	{if empty($packet['scripts']) || !empty($packet['type'])}
		<!-- 如果是更新模块,跳转到system/module/upgrade -->
		{if $is_upgrade == 1}
			{if $packet['type'] == 'theme'}
			<script>
				location.href = '{url "system/template/upgrade" array("templateid" => $m, "flag" => 1)}';
			</script>
			{elseif $packet['type'] == 'webtheme'}
			<script>
				location.href = '{url "system/webtheme/upgrade" array("webthemeid" => $m, "flag" => 1)}';
			</script>
			{else}
			<script>
				location.href = '{url "module/manage-system/upgrade" array("module_name" => $m, "flag" => 1, "account_type" => $_GPC["account_type"])}';
			</script>
			{/if}
			
		{/if}
		<script>
			var is_confirm = "{php echo $_GPC['is_confirm']}";
			if(is_confirm == 1) {
				if(confirm('已经成功执行升级操作! '+"\n"+' 由于数据库更新, 可能会产生多余的字段. 你可以按照需要删除')) {
					location.href = '{url "mod/mod_wmall"}';
				} else {
					location.href = '{url "mod/mod_wmall"}';
				}
			} else {
				require(['util'], function(u){
					u.message('已经成功执行升级操作! '+"\n"+' 由于数据库更新, 可能会产生多余的字段. 你可以按照需要删除.', '{url "mod/mod_wmall"}');
				});
			}
		</script>
	{/if}
	<div class="alert alert-warning">
		正在数据迁移及清理操作, 请不要关闭窗口.
	</div>
	<div class="alert alert-info form-horizontal ng-cloak" ng-controller="processor">
		<dl class="dl-horizontal">
			<dt>整体进度</dt>
			<dd>{{pragress}}</dd>
			<dt>正在处理</dt>
			<dd>{{script}}<br />{{message}}</dd>
		</dl>
		<dl class="dl-horizontal" ng-show="fails.length > 0">
			<dt>处理失败的操作</dt>
			<dd>
				<p class="text-danger" ng-repeat="script in fails" style="margin:0;">{{script}}</p>
			</dd>
		</dl>
	</div>
	<script>
		angular.bootstrap($('.js-processor'), ['cloudApp']);
	</script>
</div>
{/if}
