{template 'inc/header'}

<script type="text/javascript">
	wx.ready(function () {
		wx.hideAllNonBaseMenuItem();
	});
</script>

<style>



	#main_list{margin-top:0;padding-bottom:40px;}
	#main_list h4{font-size:12px;color:#bbbbbb}
	#main_list i{width:16px;height:16px;}
	.feed-item{background:#FFFFFF;margin:0 10px 10px 10px;border:0 none;border-radius:5px;overflow:hidden}
	.feed-item .weui-cell{padding:15px;}/**-webkit-box-align:stretch;-webkit-align-items:stretch;align-items:stretch;**/

	
		
	#images_box{margin:5px 15px 5px 0;overflow:hidden;zoom:1;}
	#images_box:after{content:"";display:block;height:0;line-height:0;clear:both;visibility:hidden;}
	#images_box li{float:left;margin:0 5px 0 0;width:60px;height:60px;overflow:hidden;}
	#images_box li a{display:block;width:60px;height:60px;line-height:60px;text-align:center;overflow:hidden;}
	#images_box li a img{height:100%;width:100%;object-fit:cover;}
	#image_adder a{background:url("{MODULE_URL}/static/mobile/images/image_adder_normal.png");background-size:60px 60px;}



</style>

<div>

	{php $tab='mine'}
	{template 'inc/tab'}
	<div style="height:50px;"></div>


	<div>
		<div class="mtab">
			<div class="vp-flex">
				<div class="vp-flex_1"><a href="{php echo $this->createMobileUrl('index',array('cmd'=>'iins'))}" class="mtab-item">我放入的纸条</a></div>
				<div class="vp-flex_1"><a href="{php echo $this->createMobileUrl('index',array('cmd'=>'iouts'))}" class="mtab-item selected">我抽到的纸条</a></div>
			</div>
		</div>
	</div>
	<div>
		
		<!-- 列表 -->
		<div id="main_list" data-url="" data-loading=0 data-start=0 data-more=1 ></div>
		
		<!--列表模板-->
		<script id="feed_list_tpl" type="text/template" >
			<%
				if(!list || list.length==0){
			%>
					<div style="padding:30px 0;text-align:center;font-size:14px;color:#999999;">我还没有抽取过交友纸条</div>
			<%
				}
				for(var i=0;i<list.length;i++){
					var item = list[i];
			%>	
				<div class="feed-item" id="pair_<%=item.id%>">
					<div class="weui-cell">
						<div class="weui-cell__bd">
							<div>
								<% if(item.sex==1){ %><span style="color:#4e86ec">[男生纸条]</span><%  } %>
								<% if(item.sex==2){ %><span style="color:#ec4eb3">[女生纸条]</span><%  } %>
								<%=item.content%>
							</div>
							<%
								if(item.images && item.images.length>0){
							%>
							<div style="margin-top:8px;">
								<%
									for(var j=0;j<item.images.length;j++){
										var img = item.images[j];
								%>	
									<img class="feed-img" src="<%=img.url%>" data-src="<%=img.url%>" style="width:80px;height:80px;margin-right:2px;object-fit:cover;" />
								<%  } %>
							</div>
							<%  } %>
						</div>
					</div>
					<div class="weui-cell">
						<div class="weui-cell__bd">
							<%=(item.sex==1?'他':'她')%>留的<%=item.ctype=='wx'?'微信号':''%><%=item.ctype=='qq'?'QQ号':''%>：<%=item.contact%>
						</div>
						<div class="weui-cell__ft">
							<a class="btnm btn-copyer"  href="javascript:" data-clipboard-text="<%=item.contact%>">复制</a>
						</div>
					</div>
				</div>
			<%  } %>
		</script>
	</div>

	<!--
		等待审核	：等待审核，【修改】
		审核通过	：已有xx人抽到过，【销毁】
		审核拒绝	：拒绝原因，【修改】
	-->

</div>


{template 'inc/script'}
{template 'inc/app'}
<script type="text/javascript">

	$(function(){
		
		var feed_list = $("#main_list");
		var feed_list_tpl=baidu.template($('#feed_list_tpl').html());
		var list = new Array();
		var loadList=function(refresh=true,showloading=false){
			if(refresh){
				feed_list.attr('data-start',0);
				feed_list.attr('data-more',1);
			}

			if(feed_list.attr('data-loading')==1 || feed_list.attr('data-more')==0){
				return;
			}
			
			if(showloading){
				loading = weui.loading('正在加载...');
			}
			feed_list.attr('data-loading',1);
			
			$.post(feed_list.attr('data-url'), {
				submit:'list',
				filt:feed_list.attr('data-filt'),
				start:feed_list.attr('data-start')
			},function(resp) {
				if(loading){
					loading.hide();
				}
				feed_list.attr('data-loading',0);
				if(resp.status==0){
					alert(resp.info);
				}else{
					list=list.concat(resp.data.list);

					feed_list.attr('data-start',resp.data.start);
					feed_list.attr('data-more',resp.data.more);
					/**
					if(feed_list.attr('data-more')==0){
						$('#money_list_container').destroyInfinite();
						$('#money_list_loader').hide();
					}
					
					
					**/
					var html='';
					html=feed_list_tpl(resp.data);
				
					
					if(!refresh){
						html=feed_list.html()+html;
					}
					feed_list.html(html);
				}
			});	
		}
		
		// 自动加载历史链接
		loadList(true,true);

		// 预览图片
		feed_list.on('click','.feed-img',function(){
			var imgs = $(this).parent().children();

			var imgurls=new Array();
			$(this).parent().children().each(function(){
				imgurls.push($(this).data('src'));
			}); 

			wx.previewImage({
			  current: $(this).data('src'),
			  urls: imgurls
			});
		});
		
		// 统一复制
		var clipboard = new ClipboardJS('.btn-copyer');
		clipboard.on('success', function(e) {
			weui.toast('复制成功', 2000);
		});
	});
</script>
{template 'inc/footer'}